#card{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.card{
    margin :3%;

}
header{
    background-image: url(image/vegetables-set-left-black-slate.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#image{
    width: 100%;

}

#ingMeas{
    display: flex;
}

#cardes{
    margin-left: 8%;
}

